{% extends 'base.html' %}

{% block container %}

    <h1 class="display-5 mt-4">Летим из {{ name }}</h1>
    <p class="mb-4">Найдено {{ city|length }} туров, от {{ (city|min(attribute='price')).price }} до
      {{ (city|max(attribute='price')).price }} и от
      {{ (city|min(attribute='nights')).nights }} ночей до {{ (city|max(attribute='nights')).nights }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour in city %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }} {{ tour.stars }}★</h2>
            <p class="card-text">{{ tour.description|truncate(100) }}</p>
            <p class="card-text">{{ tour.date }}, {{ tour.price}} руб</p>
            <a href="/tours/{{ tour.id }}" class="btn btn-sm btn-primary">Подробнее </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}